# Obsidian Vault Configuration
# Specify the absolute or relative path to your Obsidian vault on the host machine
# This path will be mounted to /vault inside the Docker container
#
# Examples:
#   OBSIDIAN_VAULT_PATH=./vault                    # Relative path (default)
#   OBSIDIAN_VAULT_PATH=/home/user/Documents/vault # Absolute path
#   OBSIDIAN_VAULT_PATH=~/Obsidian/MyVault        # Home directory path
#
OBSIDIAN_VAULT_PATH=./vault
